%p{id: "notice"}
  = notice
%p
  %strong User_id:
  = @post.user_id
%p
  = image_tag @post.media.url(:thumb)

%p
  %strong Title:
  = @post.title
%p
  %strong Description:
  = @post.description

- if can? :update, @post
  = link_to 'Edit', edit_user_post_path(current_user, @post) |

= link_to 'Back', user_posts_path
/ = link_to 'comment', new_user_post_comment_path(current_user, @post)

= form_for([current_user, @post, @comment]) do |f|
  -if @comment.errors.any?
    %div{ id: "error_explanation"}
      %h2
        = pluralize(@comment.errors.count, "error") 
        prohibited this comment from being saved:

      %ul
        @comment.errors.full_messages.each do |message|
        %li
          = message

  %div{ class: "field" }
    = f.label :commentbody
    %br
    = f.text_area :commentbody
    %input{type: "hidden", id: "post_id", value: @post.id}
  %div{ class: "actions"}
    %input{type: "button", value: "Create Comment", onclick: "createCommit()"}

%h4 
  %u Comments :

%div#comment_list
  - @comments.each do |comment|
    %p
      = comment.commentbody
    %hr

:javascript
  function createCommit(){
    d = { 
      commentbody: $("#comment_commentbody").val(),
      post_id: $("#post_id").val()
    }
  
    $.ajax({
      url: "/random_comment",
      method: "post",
      data: d,
      
      success: function(data, response){    
        console.log()         
        p = $('<p/>', { text: data.comment.commentbody})
        h = $('<hr/>')
        b = $('<br/>')
        $("#comment_list").append(b)
        $("#comment_list").prepend(h)
        $("#comment_list").prepend(p)
      },
      error: function(data, response){
        alert("random comment error");
      }
    })
  }